<h1>StaticPage</h1>


      

      


      <%= render 'search_form' %>
      <div><%= params[:user_id] %> photos</div>
    

      <% @photos.each do |photo| %>

          <img src="<%= Flickr.url_n(photo) %>"/>

      <% end %>





